@font-face {
  font-family: "Helvetica";
  font-display: swap;
  src: url(/fonts/HelveticaBold.woff?9f00915ba9d41967dddf8903637a9c3d) format("woff"), url(/fonts/HelveticaBold.woff2?13631bef9d36f665a3aed7d39a079eeb) format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Helvetica";
  font-display: swap;
  src: url(/fonts/HelveticaRegular.woff?4f114c37438a218bae383c1384d78383) format("woff"), url(/fonts/HelveticaRegular.woff2?de9d4af3c9ab48bab727cc5b67c86e63) format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "FranklinGothicDemi";
  font-display: swap;
  src: url(/fonts/FranklinGothicDemiRegular.woff?cf79552af3187bed87f46cf23e135c6d) format("woff"), url(/fonts/FranklinGothicDemiRegular.woff2?0a97419fdd1381c6eb238d33d02517b9) format("woff2");
  font-weight: 400;
  font-style: normal; }
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border-style: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

@font-face {
  font-family: Helvetica;
  font-display: swap;
  src: url(/fonts/HelveticaBold.woff?9f00915ba9d41967dddf8903637a9c3d) format("woff"), url(/fonts/HelveticaBold.woff2?13631bef9d36f665a3aed7d39a079eeb) format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: Helvetica;
  font-display: swap;
  src: url(/fonts/HelveticaRegular.woff?4f114c37438a218bae383c1384d78383) format("woff"), url(/fonts/HelveticaRegular.woff2?de9d4af3c9ab48bab727cc5b67c86e63) format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: FranklinGothicDemi;
  font-display: swap;
  src: url(/fonts/FranklinGothicDemiRegular.woff?cf79552af3187bed87f46cf23e135c6d) format("woff"), url(/fonts/FranklinGothicDemiRegular.woff2?0a97419fdd1381c6eb238d33d02517b9) format("woff2");
  font-weight: 400;
  font-style: normal; }

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  outline: 0; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

select::-ms-expand {
  display: none; }

button, input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0; }

::-moz-placeholder {
  color: #666; }

:-ms-input-placeholder {
  color: #666; }

::placeholder {
  color: #666; }

input, textarea {
  outline: 0; }

input:focus:required:invalid, textarea:focus:required:invalid {
  border-color: red; }

input:required:valid, textarea:required:valid {
  border-color: green; }

button, input, select, textarea {
  font-family: Helvetica,sans-serif; }

svg path, svg polygon {
  transition: all .3s ease-in-out; }

body {
  font-family: Helvetica,sans-serif;
  font-size: 18px;
  min-width: 320px;
  font-weight: 400;
  position: relative;
  line-height: 1.22;
  overflow-x: hidden;
  color: #000;
  background-color: #fff; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  transition: .3s; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 135%; }

h2 {
  font-weight: 800;
  font-size: 36px;
  line-height: 122.22222%; }

h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%; }

h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 120.83333%; }

h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 122.22222%; }

h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 118.75%; }

h1, h2, h3, h4, h5, h6 {
  color: #000;
  margin: 0; }

p {
  margin: 0 0 20px 0; }

.container {
  max-width: 1510px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  position: relative; }

.container-fluid {
  width: calc(100% - 150px);
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  position: relative; }

body.overflow {
  overflow-y: hidden; }

.top-header {
  padding: 28px 0 20px;
  background-color: #00539b;
  position: relative; }

.top-header .container-fluid {
  position: static; }

.top-header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.top-header__logo {
  display: flex;
  align-items: center; }

.top-header__logo:hover {
  opacity: .8; }

.top-header__logo img {
  margin-right: 28px;
  height: 85px; }

.top-header.header-home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  background-color: transparent; }

.top-header.header-home .top-header__logo {
  display: none; }

.top-header.header-home .top-header__right {
  width: 100%; }

.top-header.header-home .main-menu ul li:hover .sub-menu, .top-header.header-home .main-menu ul li:hover a {
  background-color: transparent; }

.top-header.header-home .main-menu ul li:hover > a {
  opacity: .8; }

.top-header.header-home .main-menu ul li:hover .main-menu__caret-group a {
  opacity: .8; }

.top-header.header-home .main-menu ul li .sub-menu {
  background-color: transparent; }

.top-header__right.active {
  transform: translateY(0); }

.lang-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 48px;
  margin-right: 12px; }

.lang-item {
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  margin-left: 50px;
  display: inline-block;
  position: relative;
  transition: .3s; }

.lang-item:hover {
  opacity: .8; }

.lang-item.active {
  font-weight: 700; }

.lang-item.active:hover {
  opacity: 1; }

.lang-item.active::before {
  opacity: 1;
  visibility: visible; }

.lang-item::before {
  content: '';
  background: url(/storage/img/caret-left-icon.svg) no-repeat;
  position: absolute;
  width: 10px;
  height: 17px;
  right: -18px;
  top: calc(50% - 8px);
  opacity: 0;
  visibility: hidden;
  transform: rotate(180deg); }

.lang-item a {
  color: #fff; }

.main-menu ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end; }

.main-menu ul li {
  margin-left: 8px;
  position: relative;
  display: inline-block; }

.main-menu ul li:hover .sub-menu {
  opacity: 1;
  visibility: visible; }

.main-menu ul li:hover a {
  background-color: #0079c1; }

.main-menu ul li.active a {
  font-weight: 700; }

.main-menu ul li a {
  font-size: 27px;
  line-height: 1.19;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  padding: 17px 12px 14px 12px; }

.main-menu__caret {
  display: none;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  transition: .3s; }

.main-menu__caret.active {
  transform: rotate(180deg); }

.main-menu .sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  transition: .3s;
  visibility: hidden;
  padding-top: 20px;
  z-index: 999;
  display: inline-block;
  background-color: #0079c1; }

.main-menu .sub-menu.active {
  opacity: 1;
  visibility: visible;
  display: block; }

.main-menu .sub-menu li {
  margin-left: 0; }

.main-menu .sub-menu li a {
  padding: 0 16px 21px 18px; }

.main-menu .sub-menu li a:hover {
  opacity: .8; }

.s-top-intro {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 197px 0; }

.s-top-intro__bottom {
  position: absolute;
  bottom: 63px;
  left: 0;
  right: 0;
  width: 100%; }

.s-top-intro__bottom .container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.s-top-arrow {
  width: 80px;
  height: 80px;
  min-width: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 100%;
  justify-content: center;
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .3s; }

.s-top-arrow:hover {
  opacity: .9; }

.main-title {
  text-shadow: 4px 7px 4px rgba(0, 0, 0, 0.16);
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  text-align: center; }

.main-title.blue {
  color: #00539b;
  text-shadow: none; }

.main-title.blue.shadow {
  text-shadow: 4px 7px 4px rgba(0, 0, 0, 0.16); }

.s-text-intro {
  padding: 122px 0 77px;
  position: relative; }

.s-text-intro::before {
  content: '';
  background: url(/storage/img/globe-bg.svg) no-repeat right;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 200px;
  opacity: .15;
  right: -550px; }

.blue-text {
  font-size: 27px;
  font-weight: 700;
  line-height: 1.19;
  color: #00539b;
  margin-bottom: 48px; }

.text-two-col {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between; }

.text-two-col__left, .text-two-col__right {
  width: calc(50% - 16px); }

.text-two-col ul {
  list-style-type: none;
  margin-left: 10px; }

.text-two-col ul li {
  padding-left: 10px;
  position: relative;
  margin-bottom: 20px; }

.text-two-col ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: #000; }

.text-two-col ol {
  padding-left: 0;
  list-style: none;
  margin-left: 10px;
  counter-reset: my-awesome-counter; }

.text-two-col ol li {
  counter-increment: my-awesome-counter;
  padding-left: 20px;
  position: relative;
  margin-bottom: 20px; }

.text-two-col ol li::before {
  content: counter(my-awesome-counter) ".";
  position: absolute;
  left: 0;
  top: 0; }

.s-about {
  background-color: #00539b;
  padding: 135px 0 699px; }

.s-title {
  font-size: 62px;
  line-height: 1.19;
  text-align: center;
  color: #fff;
  font-weight: 400;
  margin-bottom: 78px; }

.about-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -699px;
  padding-bottom: 60px; }

.about-item {
  width: calc(50% - 27px);
  border: solid 1px #00539b;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px; }

.about-item__img {
  display: flex;
  position: relative;
  padding-top: 63%; }

.about-item__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center; }

.about-item__content {
  padding: 48px 87px 110px;
  display: flex;
  flex-direction: column;
  flex: 1; }

.about-item__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 49px;
  height: 205px; }

.about-item p {
  font-size: 18px;
  line-height: 1.22;
  text-align: left;
  margin-bottom: 32px;
  font-weight: 400;
  flex: 1; }

.about-item__bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap; }

.about-item__bottom span {
  display: block;
  line-height: 1.22;
  font-size: 18px;
  font-weight: 700;
  max-width: 300px;
  width: 100%; }

.about-item__bottom a {
  display: flex; }

.about-item__bottom a:hover {
  opacity: .8; }

.s-download {
  padding: 60px 0 118px; }

.download-card {
  background: #00539b;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 84px 40px 61px;
  position: relative;
  max-width: 1510px;
  width: 100%;
  margin: 0 auto; }

.download-card::before {
  content: '';
  background: url(/storage/img/globe-bg.svg) no-repeat center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .15; }

.download-card__icon {
  display: flex;
  margin-right: 80px;
  position: relative;
  align-items: center;
  flex: 0 0 334px; }

.download-card__text {
  color: #fff;
  max-width: 600px;
  width: 100%;
  position: relative; }

.download-card__text p {
  font-size: 27px;
  line-height: 1.19;
  margin-bottom: 53px; }

.download-card__text h2 {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 38px;
  line-height: 1.21;
  color: #fff; }

.btn {
  padding: 18px 40px;
  display: inline-block;
  border: 0;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 27px;
  background-color: #00539b;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  font-family: Helvetica,sans-serif;
  transition: .3s; }

.btn.btn-blue:hover {
  opacity: .8; }

.btn-transparent {
  border: solid 3px #fffdfd;
  background-color: transparent; }

.btn-transparent:hover {
  background-color: #00539b; }

.btn-transparent.btn-blue {
  border-color: #00539b;
  color: #00539b; }

.btn-transparent.btn-blue:hover {
  color: #fff; }

.s-top {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 890px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  position: relative; }

.s-top.s-top-map {
  background-size: contain;
  align-items: flex-end;
  background-position: center -75px;
  padding: 0; }

.s-top.s-top-map .container {
  bottom: 100px; }

.s-top.s-top-assessment {
  min-height: calc(100vh - 183px); }

.s-top.s-top-gpa, .s-top.s-top-single-blog {
  min-height: calc(100vh - 183px); }

.s-accordion {
  padding: 126px 0 151px; }

.accordion-wrap {
  margin-top: 92px; }

.accordion-item {
  border-top: 1px solid #707070; }

.accordion-item:last-child {
  border-bottom: 1px solid #707070; }

.accordion-item.accordion-active .accordion-arrow {
  transform: rotate(-180deg); }

.accordion-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px 30px 0;
  cursor: pointer;
  transition: .3s; }

.accordion-title:hover {
  opacity: .8; }

.accordion-title__text {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.21;
  color: #00539b; }

.accordion-arrow {
  display: flex;
  transition: .3s;
  flex: 0 0 11px;
  margin-left: 10px; }

.accordion-content {
  display: none; }

.accordion-content__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.accordion-content__inner.wide {
  width: 100%;
  display: block; }

.accordion-content__left, .accordion-content__right {
  width: calc(50% - 16px); }

.location-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }

.location-item img {
  margin-right: 20px; }

.s-building {
  padding: 0 0 117px; }

.s-building .main-title {
  margin-bottom: 57px; }

.s-technical {
  padding-bottom: 40px; }

.s-technical__bg {
  height: 710px;
  background: url(/storage/img/graphic-panel-bg.svg) no-repeat center top;
  background-size: cover;
  position: relative; }

.s-technical .card-items {
  margin-top: -500px; }

.s-technical__btn {
  margin-top: 18px;
  text-align: center; }

.card-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px; }

.card-item {
  width: calc(33.3333% - 30px);
  border: solid 1px #00539b;
  margin: 0 15px 30px;
  background-color: #fff;
  display: flex;
  flex-direction: column; }

.card-item__date {
  font-size: 18px;
  line-height: 1.11;
  color: #595b60;
  font-family: FranklinGothicDemi,sans-serif;
  font-weight: 400;
  margin-bottom: 10px; }

.card-item__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 36px;
  line-height: 1.19;
  color: #00539b;
  display: flex;
  align-items: center;
  min-height: 80px; }

.card-item__img {
  display: flex;
  position: relative;
  padding-top: 63%; }

.card-item__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center; }

.card-item__content {
  padding: 55px 58px 57px;
  display: flex;
  flex-direction: column;
  flex: 1; }

.card-item p {
  font-size: 18px;
  line-height: 1.22;
  text-align: left;
  margin-bottom: 32px;
  font-weight: 400;
  flex: 1; }

.card-item__bottom {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px; }

.card-item__bottom a {
  display: flex; }

.card-item__bottom a:hover {
  opacity: .8; }

.s-as {
  padding: 110px 0 80px; }

.s-as-bottom {
  background: #00539b;
  padding: 84px 0;
  position: relative; }

.s-as-bottom p {
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  margin-bottom: 60px; }

.s-as-bottom::before {
  content: '';
  background: url(/storage/img/globe-bg.svg) no-repeat center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .15; }

.as-bottom-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.as-bottom-info__icon {
  display: flex;
  margin-right: 90px;
  position: relative;
  align-items: center;
  flex: 0 0 334px; }

.as-bottom-info__text {
  color: #fff;
  max-width: 460px;
  width: 100%;
  position: relative; }

.as-bottom-info__text p {
  font-size: 27px;
  line-height: 1.19;
  margin-bottom: 53px; }

.as-bottom-info__text h2 {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 38px;
  line-height: 1.21;
  color: #fff; }

.s-news {
  padding: 180px 0 70px; }

.s-news__btn {
  text-align: center;
  margin-top: 50px; }

.s-resources {
  padding: 128px 0 100px; }

.rs-wrap {
  margin-top: 76px; }

.rs-wrap__top-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.21;
  color: #000;
  margin-bottom: 30px; }

.rs-item {
  padding: 34px 0;
  border-top: solid 1px #707070;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }

.rs-item__left {
  width: calc(60% - 15px);
  display: flex;
  align-items: center; }

.rs-item__icon {
  display: flex;
  margin-right: 20px;
  flex: 0 0 50px; }

.rs-item__title {
  font-size: 27px;
  font-weight: 700;
  line-height: 1.19;
  color: #00539b; }

.rs-item__right {
  width: calc(40% - 15px);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end; }

.rs-item__right .btn {
  margin-left: 20px;
  font-size: 22px;
  padding: 12px 30px; }

.s-terms {
  padding: 162px 0; }

.s-terms .container {
  max-width: 1680px; }

.s-terms .text-two-col__left, .s-terms .text-two-col__right {
  width: calc(50% - 50px); }

.s-taskforce-text {
  padding: 122px 0 100px; }

.s-taskforce {
  padding: 216px 0 200px;
  background-color: #00539b; }

.person-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px; }

.person-item {
  width: calc(33.3333% - 40px);
  margin: 0 20px 40px;
  background-color: #fff;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap; }

.person-item__img {
  display: flex;
  position: relative;
  padding-top: 98%;
  cursor: pointer;
  transition: .3s; }

.person-item__img:hover {
  opacity: .8; }

.person-item__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover; }

.person-item__content {
  padding: 60px 48px 58px 50px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }

.person-item__content-group {
  flex: 1; }

.person-item__name {
  font-size: 28px;
  font-weight: 700;
  color: #00539b;
  cursor: pointer;
  transition: .3s; }

.person-item__name:hover {
  opacity: .8; }

.person-item__position {
  font-size: 18px;
  line-height: 1.22;
  color: #000; }

.person-item__arrow-wrap {
  text-align: right;
  margin-top: 17px; }

.person-item__arrow {
  display: inline-block; }

.person-item__arrow:hover {
  opacity: .8; }

.s-contact {
  padding: 128px 0 109px; }

.contact-form .btn {
  padding: 27px 66px; }

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px; }

.form-col-6 {
  width: calc(50% - 30px);
  margin: 0 15px; }

.form-group {
  margin-bottom: 30px; }

.form-label {
  font-size: 27px;
  font-weight: 700;
  line-height: 1.19;
  color: #00539b;
  margin-bottom: 11px; }

.form-control {
  border: solid 1px #707070;
  background-color: #fff;
  width: 100%;
  padding: 19px;
  font-size: 18px;
  color: #000;
  font-family: Helvetica,sans-serif;
  font-weight: 400; }

.textarea {
  height: 236px;
  resize: none; }

.s-single-blog-top {
  padding: 128px 0 93px; }

.s-single-blog-bottom {
  padding: 125px 0 74px; }

.s-single-blog {
  background: #00539b url(/storage/img/graphic-panel-bg.svg) no-repeat center top;
  background-size: contain;
  padding: 124px 0 208px; }

.s-blog-items {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto; }

.s-blog-item {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  margin-bottom: 100px; }

.s-blog-item__hidden {
  position: relative; }

.s-blog-item__hidden.active {
  height: auto;
  overflow: visible; }

.s-blog-item__hidden.active::before {
  display: none; }

.s-blog-item__btn {
  text-align: right;
  display: none;
  margin-top: 30px; }

.s-blog-item__read-more {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
  color: #00539b; }

.s-blog-item__text {
  flex: 1;
  padding: 64px 34px 66px 55px;
  max-height: 420px;
  min-height: 420px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.s-blog-item__text ul {
  list-style-type: none;
  margin-left: 20px; }

.s-blog-item__text ul li {
  padding-left: 10px;
  position: relative;
  margin-bottom: 8px; }

.s-blog-item__text ul li:last-child {
  margin-bottom: 0; }

.s-blog-item__text ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: #000; }

.s-blog-item__text a {
  color: #000; }

.s-blog-item__title {
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 25px; }

.s-blog-item__img {
  flex: 0 0 375px;
  position: relative; }

.s-blog-item__img img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
  height: 100%; }

.popup-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  transition: .3s;
  opacity: 0;
  visibility: hidden; }

.popup-overlay.active {
  opacity: 1;
  visibility: visible; }

.popup-wrap {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 11;
  transition: .3s;
  overflow-y: auto; }

.popup-wrap.active {
  opacity: 1;
  visibility: visible; }

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  margin-bottom: 30px;
  transition: .3s; }

.popup.popup-top {
  top: 30px;
  transform: translate(-50%, 0); }

.popup-person {
  max-width: 1480px;
  width: 100%; }

.popup-person__wrap {
  display: flex;
  flex-wrap: wrap; }

.popup-person__left {
  flex: 0 0 473px;
  position: relative;
  display: flex;
  height: 540px; }

.popup-person__left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center; }

.popup-person__right {
  flex: 1;
  padding: 75px 60px 75px 67px;
  height: 540px;
  overflow-y: auto; }

.popup-person__name {
  font-size: 28px;
  font-weight: 700;
  color: #00539b; }

.popup-person__details {
  margin-bottom: 30px; }

.popup-person__position {
  font-weight: 700;
  margin-bottom: 30px; }

.popup-congrut {
  padding: 80px 50px; }

.popup-congrut__message {
  color: #00539b;
  font-size: 27px;
  font-weight: 700; }

.popup-close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  display: flex;
  transition: .3s;
  z-index: 1; }

.popup-close:hover {
  opacity: .6; }

.footer {
  background-color: #f5f1e9;
  text-align: center; }

.footer .container {
  padding-left: 15px;
  padding-right: 15px; }

.footer__top {
  border-bottom: 1px solid #707070;
  padding: 44px 0 16px; }

.footer__bottom {
  padding: 13px 0 8px; }

.footer__bottom a {
  color: #2b2e34; }

.footer__bottom a:hover {
  opacity: .8; }

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 29px; }

.footer-logo__item {
  margin: 0 6px;
  display: flex;
  align-items: center; }

.footer-nav {
  margin-bottom: 7px; }

.footer-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.footer-nav ul li {
  margin-right: 30px;
  position: relative; }

.footer-nav ul li:last-child {
  margin-right: 0; }

.footer-nav ul li:last-child::before {
  display: none; }

.footer-nav ul li::before {
  content: '';
  width: 2px;
  background-color: #00539b;
  position: absolute;
  height: 14px;
  right: -15px;
  top: 50%;
  margin-top: -7px; }

.footer-nav ul li a {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
  display: inline-block;
  color: #00539b; }

.footer-nav ul li a:hover {
  opacity: .8; }

.copyright, .footer-info {
  font-size: 18px;
  line-height: 1.22;
  color: #2b2e34; }

.footer-info span:first-child {
  margin-right: 30px; }

.hamburger-wrap {
  display: none;
  align-items: center; }

.hamburger-wrap span {
  text-transform: uppercase;
  color: #fff;
  line-height: 1.2;
  font-size: 20px;
  margin-right: 12px; }

.hamburger {
  display: flex;
  cursor: pointer;
  transition-property: opacity,filter;
  transition-duration: .15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger:hover {
  opacity: .7; }

.hamburger.is-active:hover {
  opacity: .7; }

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after, .hamburger.is-active .hamburger-inner::before {
  background-color: #fff; }

.hamburger-box {
  width: 28px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
  width: 28px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  transition-property: transform;
  transition-duration: .15s;
  transition-timing-function: ease; }

.hamburger-inner::after, .hamburger-inner::before {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

.hamburger--slider .hamburger-inner {
  top: 2px; }

.hamburger--slider .hamburger-inner::before {
  top: 10px;
  transition-property: transform,opacity;
  transition-timing-function: ease;
  transition-duration: .15s; }

.hamburger--slider .hamburger-inner::after {
  top: 20px; }

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0; }

.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg); }

@media only screen and (max-width: 1660px) {
  .container {
    max-width: 1160px; }
  .container-fluid {
    width: 100%;
    max-width: 1160px; }
  .top-header__logo img {
    height: 70px; }
  .lang-items {
    margin-bottom: 40px;
    margin-right: 10px; }
  .main-menu ul li {
    margin-left: 5px; }
  .main-menu ul li a {
    font-size: 20px;
    padding: 10px; }
  .s-top-arrow img {
    height: 30px; }
  .s-top-arrow {
    width: 56px;
    height: 56px;
    min-width: 56px;
    bottom: -28px; }
  .main-title {
    font-size: 70px; }
  .s-text-intro {
    overflow: hidden; }
  .s-text-intro::before {
    top: 0;
    right: -300px; }
  .s-about {
    padding-bottom: 300px; }
  .about-items {
    margin-top: -300px; }
  .about-item__img {
    padding-top: 75%; }
  .about-item__content {
    padding: 44px 65px 60px; }
  .s-download {
    padding: 240px 0 0; }
  .s-top {
    min-height: 610px; }
  .s-top.s-top-map {
    min-height: 728px; }
  .s-top.s-top-assessment {
    min-height: calc(100vh - 155px); }
  .s-top.s-top-gpa, .s-top.s-top-single-blog {
    min-height: calc(100vh - 155px); }
  .card-item__title {
    font-size: 27px; }
  .card-item__content {
    padding: 35px 25px 40px 25px; }
  .card-item__bottom {
    margin-top: 0; }
  .s-news {
    padding: 145px 0 45px; }
  .s-resources {
    padding: 108px 0 80px; }
  .rs-wrap {
    margin-top: 50px; }
  .s-terms .container {
    max-width: 1170px; }
  .s-terms {
    padding: 107px 0 150px; }
  .s-terms .text-two-col__left, .s-terms .text-two-col__right {
    width: calc(50% - 30px); }
  .s-taskforce-text {
    padding: 80px 0 24px; }
  .s-taskforce {
    padding: 120px 0 127px; }
  .person-items {
    margin: 0 -15px; }
  .person-item {
    width: calc(33.3333% - 30px);
    margin: 0 15px 30px; }
  .person-item__content {
    padding: 45px 30px 45px 30px; }
  .s-contact {
    padding: 80px 0; }
  .s-single-blog-top {
    padding: 97px 0 107px; }
  .s-single-blog-bottom {
    padding: 92px 0 66px; }
  .s-single-blog {
    padding: 124px 0 160px; }
  .s-blog-items {
    max-width: 100%; }
  .s-blog-item {
    margin-bottom: 50px; }
  .popup-person {
    max-width: 1130px;
    width: 83%; }
  .popup-person__left {
    flex: 0 0 359px;
    height: 400px; }
  .popup-person__right {
    padding: 56px 44px 56px 52px;
    height: 400px; } }

@media only screen and (max-width: 1365px) {
  .popup-person {
    width: calc(100% - 100px); } }

@media only screen and (max-width: 1199px) {
  .container {
    padding-left: 50px;
    padding-right: 50px; }
  .container-fluid {
    padding-left: 30px;
    padding-right: 30px; }
  .top-header {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9; }
  .top-header__logo img {
    height: 44px; }
  .top-header.header-home .top-header__logo {
    display: flex; }
  .top-header.header-home {
    background-color: #00539b;
    position: fixed; }
  .top-header.header-home .main-menu ul li:hover > a {
    opacity: 1; }
  .top-header.header-home .main-menu ul li:hover .main-menu__caret-group a {
    opacity: 1; }
  .top-header.header-home .main-menu ul li .main-menu__caret-group a:hover {
    opacity: .8; }
  .top-header.header-home .main-menu ul li a:hover {
    opacity: .8; }
  .top-header__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 17px 0 12px;
    background-color: #00539b; }
  .top-header__right {
    left: 0;
    right: 0;
    top: 0;
    padding-top: 73px;
    position: fixed;
    background-color: #00539b;
    height: 100vh;
    overflow-y: auto;
    transform: translateY(-100%);
    transition: .2s; }
  .lang-items {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 10px 0;
    width: calc(100% - 60px);
    max-width: 1130px;
    margin: 0 auto 75px; }
  .main-menu ul {
    display: block; }
  .main-menu ul li:hover a {
    background-color: transparent; }
  .main-menu ul li {
    margin-right: 0;
    margin-left: 30px;
    display: block;
    padding-right: 15px; }
  .main-menu ul li a {
    padding-left: 0; }
  .main-menu ul li a:hover {
    opacity: .8; }
  .main-menu__caret-group {
    display: flex;
    align-items: center; }
  .main-menu__caret {
    display: flex;
    margin-left: 10px; }
  .main-menu .sub-menu {
    position: relative;
    padding-left: 30px;
    display: none;
    background-color: transparent; }
  .main-menu .sub-menu li {
    padding-right: 0; }
  .main-menu .sub-menu li a {
    padding-left: 0; }
  .s-top {
    margin-top: 70px; }
  .s-top.s-top-map {
    min-height: 615px;
    background-position: center -40px; }
  .s-top.s-top-assessment {
    min-height: 610px; }
  .s-top.s-top-gpa, .s-top.s-top-single-blog {
    min-height: 610px; }
  .card-item {
    width: calc(50% - 30px); }
  .card-item__title {
    min-height: auto;
    margin-bottom: 25px; }
  .s-news {
    padding: 70px 0 45px; }
  .s-resources {
    padding: 85px 0 40px; }
  .rs-item {
    flex-direction: column; }
  .rs-item__left {
    width: 100%; }
  .rs-item__right {
    width: 100%;
    margin-top: 30px;
    justify-content: flex-start; }
  .rs-item__right .btn:first-child {
    margin-left: 0; }
  .s-taskforce {
    padding: 100px 0 80px; }
  .person-item {
    width: calc(50% - 30px); }
  .hamburger-wrap {
    display: flex; } }

@media only screen and (max-width: 991px) {
  .s-top-intro {
    min-height: 431px;
    margin-top: 73px; }
  .s-top-intro__bottom {
    display: none; }
  .s-top-arrow {
    display: none; }
  .main-title {
    font-size: 38px; }
  .s-text-intro {
    padding: 57px 0; }
  .s-text-intro::before {
    display: none; }
  .text-two-col__left, .text-two-col__right {
    width: 100%; }
  .s-about {
    padding: 97px 0 325px; }
  .s-title {
    font-size: 38px; }
  .about-items {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -320px; }
  .about-item {
    margin-bottom: 74px;
    max-width: 536px;
    width: 100%; }
  .s-download {
    padding: 0; }
  .download-card {
    flex-direction: column;
    padding-bottom: 120px; }
  .download-card::before {
    display: none; }
  .download-card__icon {
    flex: 1;
    width: 100%;
    margin-right: 0;
    justify-content: center;
    margin-bottom: 77px; }
  .download-card__text {
    margin: 0 auto; }
  .s-top {
    min-height: 400px; }
  .s-top.s-top-map {
    min-height: 500px; }
  .s-top.s-top-assessment {
    min-height: 329px; }
  .s-top.s-top-gpa, .s-top.s-top-single-blog {
    min-height: 400px; }
  .s-accordion {
    padding: 72px 0; }
  .accordion-wrap {
    margin-top: 48px; }
  .accordion-content__left, .accordion-content__right {
    width: 100%; }
  .s-technical {
    background-color: #00539b;
    padding-top: 64px; }
  .s-technical__bg {
    display: none; }
  .s-technical .card-items {
    margin-top: 0; }
  .s-technical .card-item {
    margin-bottom: 60px; }
  .s-technical .card-item:last-child {
    margin-bottom: 20px; }
  .s-technical__btn .btn {
    border-color: #fff;
    color: #fff; }
  .card-items {
    margin: 0; }
  .card-item {
    width: 100%;
    margin: 0 0 30px; }
  .card-item__content {
    min-height: auto; }
  .s-as {
    padding: 60px 0; }
  .s-as-bottom {
    flex-direction: column;
    padding: 50px 0 67px; }
  .as-bottom-info {
    flex-direction: column; }
  .as-bottom-info__icon {
    flex: 1;
    width: 100%;
    margin-right: 0;
    justify-content: center;
    margin-bottom: 77px; }
  .as-bottom-info__text {
    margin: 0 auto; }
  .s-terms {
    padding: 95px 0; }
  .s-terms .text-two-col__left, .s-terms .text-two-col__right {
    width: 100%; }
  .person-items {
    margin: 0; }
  .person-item {
    width: 100%;
    margin: 0 0 56px; }
  .form-row {
    margin: 0; }
  .form-col-6 {
    width: 100%;
    margin: 0; }
  .s-single-blog-top {
    padding: 55px 0 107px; }
  .s-single-blog-bottom {
    display: none; }
  .s-single-blog {
    background-image: none; }
  .s-blog-items {
    padding: 0 50px; }
  .s-blog-item {
    flex-direction: column; }
  .s-blog-item:nth-child(odd) {
    flex-direction: column-reverse; }
  .s-blog-item__hidden {
    height: 45px;
    overflow: hidden; }
  .s-blog-item__hidden::before {
    content: '';
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 40px;
    background: linear-gradient(to top, #fff 0, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.1) 100%);
    left: 0;
    right: 0;
    bottom: 0; }
  .s-blog-item__btn {
    display: block; }
  .s-blog-item__text {
    display: block;
    max-height: none;
    min-height: auto;
    width: 100%; }
  .s-blog-item__img {
    flex: 1;
    width: 100%;
    display: flex;
    padding-top: 60%; }
  .s-blog-item__img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    .popup {
        margin-bottom: 0;
    }
  .popup-person__wrap {
    max-height: 100vh;
      overflow: auto;
      flex-wrap: nowrap;
    flex-direction: column; }
  .popup-person__left {
    width: 100%;
    flex: 1;
    height: auto;
    padding-top: 100%; }
  .popup-person__left img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .popup-person__right {
    height: auto;
      overflow-y: visible;
    width: 100%;
    padding: 40px; }
  .popup-close {
    opacity: .5;
    right: 15px;
    top: 15px; } }

@media only screen and (max-width: 767px) {
  .container {
    padding-left: 30px;
    padding-right: 30px; }
  .top-header__logo img {
    margin-right: 20px; }
  .s-top-intro {
    padding: 135px 0; }
  .main-title {
    font-size: 36px; }
  .blue-text {
    font-size: 22px; }
  .s-about {
    padding: 61px 0 56px; }
  .s-about .s-title {
    margin-bottom: 0; }
  .about-items {
    margin-top: 0;
    width: calc(100% + 60px);
    margin-left: -30px;
    padding-bottom: 0; }
  .about-item {
    max-width: 100%;
    border: 0;
    margin-bottom: 0; }
  .about-item__img {
    padding-top: 108%; }
  .about-item__content {
    padding: 40px 30px 70px; }
  .about-item__logo {
    margin-bottom: 33px;
    height: auto; }
  .about-item__bottom span {
    max-width: 100%;
    margin-bottom: 20px; }
  .download-card {
    padding: 50px 40px 67px; }
  .download-card__icon {
    margin-bottom: 30px; }
  .download-card__text h2 {
    font-size: 23px; }
  .download-card__text .btn {
    width: 100%; }
  .s-top.s-top-map {
    min-height: 330px;
    background-position: center -20px; }
  .s-top.s-top-map .container {
    bottom: 40px; }
  .s-taskforce-text {
    padding: 40px 0 0; }
  .accordion-title__text {
    font-size: 22px; }
  .location-item {
    margin-bottom: 10px; }
  .s-technical .container {
    padding: 0; }
  .as-bottom-info__icon {
    margin-bottom: 30px; }
  .as-bottom-info__text h2 {
    font-size: 24px; }
  .s-news__btn {
    margin-top: 0; }
  .s-resources {
    padding: 55px 0 20px; }
  .rs-item__icon {
    display: none; }
  .person-items {
    width: calc(100% + 60px);
    margin-left: -30px; }
  .person-item {
    margin-bottom: 45px; }
  .person-item__content {
    padding: 25px 30px; }
  .s-single-blog {
    padding: 80px 0; }
  .s-single-blog .s-title {
    display: none; }
  .s-blog-items {
    padding: 0 30px; }
  .s-blog-item__text {
    padding: 30px; }
  .s-blog-item__text ul {
    margin-left: 0; }
  .s-blog-item__title {
    font-size: 22px; }
  .popup-person {
    width: 100%; }
  .popup-person__right {
    padding: 40px 30px; }
  .footer-nav ul li {
    margin-right: 18px; }
  .footer-nav ul li::before {
    width: 1px;
    height: 10px;
    margin-top: -5px;
    right: -9px; }
  .footer-nav ul li a {
    font-size: 12px; }
  .copyright, .footer-info {
    font-size: 12px; } }

@media only screen and (max-width: 565px) {
  .s-top.s-top-map {
    min-height: 290px; } }

@media only screen and (max-width: 480px) {
  .lang-items {
    justify-content: space-between; }
  .lang-item {
    margin-left: 20px; }
  .lang-item:first-child {
    margin-left: 0; }
  .rs-item__right .btn {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-bottom: 10px; }
  .footer-info {
    display: flex;
    align-items: center;
    justify-content: space-between; } }

@media only screen and (max-width: 364px) {
  .container {
    padding-left: 15px;
    padding-right: 15px; }
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px; }
  .lang-items {
    width: calc(100% - 30px); }
  .main-menu ul li {
    margin-left: 15px; }
  .person-items {
    width: calc(100% + 30px);
    margin-left: -15px; }
  .s-blog-items {
    padding: 0 15px; } }


