<template>
    <div class="person-items">
        <div v-for="(member, key) in team" class="person-item">
            <div @click="showModal(key)" class="person-item__img">
                <img :src="member.image" alt="">
            </div>
            <div class="person-item__content">
                <div class="person-item__content-group">
                    <div @click="showModal(key)" class="person-item__name">{{ member.name }}</div>
                    <div class="person-item__position">{{ member.position }}</div>
                </div>
                <div class="person-item__arrow-wrap">
                    <a @click="showModal(key)" class="person-item__arrow"><img src="/storage/img/arrow-right-long.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="popup-wrap">
            <div class="popup popup-person">
                <div class="popup-close"><img src="/storage/img/close-icon.svg" alt=""></div>
                <div class="popup-person__wrap" ref="popupWrap">
                    <div class="popup-person__left">
                        <img :src="showMember.image" alt="">
                    </div>
                    <div class="popup-person__right">
                        <div class="popup-person__name">{{ showMember.name }}</div>
                        <div class="popup-person__details">{{ showMember.detail }}</div>
                        <div class="popup-person__position">{{ showMember.position }}</div>
                        <div v-html="showMember.description" class="popup-person__descr">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: ['team'],
    data() {
        return {
            showMember: {},
        }
    },
    methods: {
        showModal(key) {
            this.$refs.popupWrap.scrollTop = 0;
            this.showMember = this.team[key];
        },
        checkPopupsOffset() {
            let popups = document.querySelectorAll(".popup");
            for (let index = 0; index < popups.length; index++) {
                let cfgPopupHeight = popups[index].offsetHeight;
                let intViewportHeight = window.innerHeight - 100;

                if (intViewportHeight <= cfgPopupHeight) {
                    popups[index].classList.add("popup-top");
                } else {
                    popups[index].classList.remove("popup-top");
                }
            }
        }
    },
    mounted() {
        this.checkPopupsOffset();
    },
}
</script>
